*,
*::before,
*::after{
   padding: 0;
   margin: 0;
   box-sizing: inherit; 
}
input:focus,
button:focus{
    outline: none;
}
html {
    font-size: 62.5%;
}
body {
    max-width: 90rem;
    box-sizing: border-box;
    padding: 0 1rem;
    margin: 0 auto;
}

/*************************************/
/*               HEADER            */
/*************************************/
.heading_title {
    padding: 4rem 0;
    background-color: #3498db;
    color: #fff;
}
h1 {
    text-align: center;
}
.heading {
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 1rem;
    color: #3498db;
}
/*************************************/
/*               FORM             */
/*************************************/
.search {
    display: flex;
    flex-direction: column;
    border: 1px #3498db solid;
    padding: 2rem;
    margin: 2rem 0;
}

form > input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}
.topArticles {
    padding: 2rem;
    border: 1px #3498db solid;
}
.btn {
    font-size: 1.5rem;
    padding: 1rem;
    color: #fff;
}
#searchBtn {
    background-color: #e74c3c;
}
#clearBtn {
    background-color: #27ae60;
}

/*************************************/
/*              ARTICLE            */
/*************************************/
.article{
    display: flex;
    margin-bottom: 2rem;
}
.index,
.title {
    display: inline-block;
}
.index {
    font-size: 2rem;
    padding: 0 1rem;
    min-width: 4rem; 
}
.title{ 
    font-weight: bolder; 
    color: #c0392b;
    font-size: 2rem;
}

.author {
    font-size: 1.5rem;
    color: rgb(104, 103, 103);
}


/*************************************/
/*               FOOTER             */
/*************************************/
footer{
    padding: 3rem;
    text-align: center;
    font-size: 1.6rem;
    color: #3498db;
    font-weight: 300;
    margin-top: 3rem;
    border-top: #3498db 2px solid;
}